
<nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top">
    <ul class="nav bs-docs-sidenav">
        <ul class="nav nav-tabs nav-stacked" data-spy="affix" data-offset-top="125">
            <li class="active"><a href="/order">近30天订单</a></li>
            <li class="active"><a href="/order/deal">近30天销售情况</a></li>
            <li class="active"><a href="/order/orderinfo">近30天订单详情</a></li>
        </ul>
    </ul>
</nav>